@import "tailwindcss";

@font-face {
    font-family: "Makinas";
    src: url("../fonts/Makinas-4-Square.woff2");
}

@layer components {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        color: #fff;
    }
    img {
        pointer-events: none;
        image-rendering: pixelated;
    }
    .btn,
    .miniBtn,
    img {
        -webkit-touch-callout: none;
        touch-action: none;
    }
    .stageWrapper,
    .stage {
        touch-action: pan-y;
    }
    html,
    body {
        font-family: sans-serif;
    }
    .makinas-font {
        font-family: "Makinas", sans-serif;
    }
    body {
        position: relative;
        text-align: center;
        width: 100svw;
        height: 100svh;
        background: radial-gradient(#aaa, #555);
        overflow: hidden;
    }
    .loadingTxt {
        line-height: 100svh;
        color: #f00;
    }
    .stageSelectScreen {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 12svmin 18svmin 1fr;
        grid-template-areas:
            "back ...."
            "txt txt"
            "stage stage";
        width: 100vw;
        height: 100svh;
        padding-top: max(2svh, env(safe-area-inset-top));
        padding-bottom: max(2svh, env(safe-area-inset-bottom));
    }
    .back {
        width: 18svmin;
        height: 12svmin;
        grid-area: back;
    }
    .selectStageText {
        grid-area: txt;
    }
    .stageWrapperContainer {
        padding: 50px 0;
        grid-area: stage;
        overflow: scroll;
        background-color: #333;
        text-align: center;
    }
    .stageWrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .btn {
        background: linear-gradient(#ddd, #999);
        border: #333 solid 5px;
        border-top: #777 solid 5px;
        border-left: #777 solid 5px;
        background-position: center;
        position: relative;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .arrow.pressed,
    .btn:not(.arrow):not(.completedBtn, .dangerBtn):active {
        background: linear-gradient(#555, #999);
        border: #777 solid 5px;
        border-top: #333 solid 5px;
        border-left: #333 solid 5px;
    }
    .btn svg {
        width: 70%;
        height: 70%;
        object-fit: contain;
    }
    .btn div {
        position: absolute;
        color: #4b4b4b;
        font-size: 70%;
        top: 10%;
        left: 25%;
        right: 25%;
        overflow: visible;
    }
    .completedBtn {
        background: linear-gradient(#0d0, #090);
        border: #030 solid 5px;
        border-top: #070 solid 5px;
        border-left: #070 solid 5px;
    }
    .completedBtn:active {
        background: linear-gradient(#050, #090);
        border: #070 solid 5px;
        border-top: #030 solid 5px;
        border-left: #030 solid 5px;
    }
    .completedBtn div {
        color: #fff;
    }
    .dangerBtn {
        background: linear-gradient(#d00, #900);
        border: #300 solid 5px;
        border-top: #700 solid 5px;
        border-left: #700 solid 5px;
    }
    .dangerBtn:active {
        background: linear-gradient(#500, #900);
        border: #700 solid 5px;
        border-top: #300 solid 5px;
        border-left: #300 solid 5px;
    }
    .miniBtn {
        background-color: #aaa;
        color: #333;
        border: #333 solid 2px;
        cursor: pointer;
        text-align: center;
    }
    .loginBtn {
        position: fixed;
        top: 10px;
        right: 10px;
        font-size: 30px;
    }
    .stage {
        width: 20svmin;
        height: 14svmin;
        line-height: 11svmin;
        font-size: 11svmin;
        margin: 1%;
    }
    .stageNum {
        grid-area: num;
        text-align: center;
        margin: auto;
        font-size: 8svmin;
        overflow: hidden;
    }
    .gameScreen {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 60px 1fr 40px 180px;
        grid-template-areas:
            "num settings menu restart"
            "main main main main"
            "guide guide guide guide"
            "btn btn btn btn";
        width: 100vw;
        height: 100svh;
        padding-top: max(2svh, env(safe-area-inset-top));
        padding-bottom: max(2svh, env(safe-area-inset-bottom));
    }
    .editorScreen {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60px 1fr 110px 110px;
        grid-template-areas:
            "header"
            "main"
            "objs"
            "tools";
        width: 100vw;
        height: 100svh;
        padding-top: max(2svh, env(safe-area-inset-top));
        padding-bottom: max(2svh, env(safe-area-inset-bottom));
    }
    .testScreen {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60px 1fr 40px 180px;
        grid-template-areas:
            "header"
            "main"
            "guide"
            "btn";
        width: 100vw;
        height: 100svh;
        padding-top: max(2svh, env(safe-area-inset-top));
        padding-bottom: max(2svh, env(safe-area-inset-bottom));
    }
    .objs {
        display: flex;
        grid-area: objs;
        background-color: #999;
        border-top: #777 solid 8px;
        border-bottom: #777 solid 8px;
        height: 110px;
        align-items: center;
        overflow-x: scroll;
        touch-action: pan-x;
        font-size: 5svmin;
    }
    .tools {
        display: flex;
        grid-area: tools;
        background-color: #ddd;
        border-top: #bbb solid 8px;
        border-bottom: #bbb solid 8px;
        height: 110px;
        align-items: center;
        overflow-x: scroll;
        touch-action: pan-x;
    }
    .objImg,
    .toolImg {
        touch-action: pan-x;
        margin: 5px;
        width: 55px;
        height: 55px;
        pointer-events: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .objImg.selected {
        border: #0f0 solid 2px;
    }
    .toolImg.selected {
        border: #00f solid 2px;
    }
    #stage-editor-main {
        width: 100%;
        height: 100%;
    }
    input[type="checkbox"] {
        width: 20px;
        height: 20px;
        margin: 10px;
    }
    .guides {
        grid-area: guide;
        font-size: 20px;
        text-align: left;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .guide {
        height: 35px;
        margin: 0 10px;
        padding: 0 5px;
    }
    #cnvWrapper {
        grid-area: main;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    #main,
    #debug {
        aspect-ratio: 1 / 1;
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #main {
        z-index: 1;
    }
    #debug {
        pointer-events: none;
        z-index: 2;
    }
    .loadingStage {
        grid-area: main;
    }
    .settings {
        grid-area: settings;
        width: 25svw;
        max-width: 90px;
        aspect-ratio: 1.5;
        margin: auto;
    }
    .restart {
        grid-area: restart;
        width: 25svw;
        max-width: 90px;
        aspect-ratio: 1.5;
        margin: auto;
    }
    .menu {
        grid-area: menu;
        width: 25svw;
        max-width: 90px;
        aspect-ratio: 1.5;
        margin: auto;
    }
    .controlBtns {
        grid-area: btn;
        margin: 0 auto;
        width: 100%;
        max-width: 270px;
        aspect-ratio: 1.5;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            ". u ."
            "l . r"
            ". d .";
    }
    .arrow {
        aspect-ratio: 1.5;
    }
    .u {
        grid-area: u;
    }
    .l {
        grid-area: l;
    }
    .d {
        grid-area: d;
    }
    .r {
        grid-area: r;
    }
    .editor-layout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 12svmin 18svmin 15svmin 1fr;
        grid-template-areas:
            "header header"
            "title title"
            "new-link new-link"
            "list list";
        height: 100svh;
        padding-top: max(2svh, env(safe-area-inset-top));
        padding-bottom: max(2svh, env(safe-area-inset-bottom));
    }
    .unselected-tab {
        background-color: #333;
        color: white;
        border: white solid 2px;
        border-bottom: none;
    }

    .popupTitle {
        font-size: 3rem;
        margin-bottom: 1rem;
        color: #fff;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .btn.next {
        width: 12svmin;
        height: 12svmin;
        max-width: 80px;
        max-height: 80px;
        margin-top: 1rem;
    }

    .home-btn div {
        position: static !important;
        font-size: inherit !important;
        inset: auto !important;
        color: inherit;
    }

    .home-btn svg {
        width: 100% !important;
        height: 100% !important;
    }

    @media screen and (min-aspect-ratio: 1/1) {
        .stageSelectScreen,
        .gameScreen,
        .editorScreen,
        .testScreen,
        .editor-layout {
            padding-top: 0;
            padding-bottom: 0;
        }
        .gameScreen {
            grid-template-columns: 140px 1fr 46px 46px 46px;
            grid-template-rows: 22svh 30svh 48svh;
            grid-template-areas:
                "num  main settings menu restart"
                ".... main guide guide guide"
                "btn  main .... .... ....";
        }
        .settings,
        .menu,
        .restart,
        .arrow {
            height: 14svh;
            max-height: 70px;
            width: initial;
            aspect-ratio: 0.66;
            margin: auto;
        }
        .controlBtns {
            position: absolute;
            inset: 0;
            display: grid;
            grid-template-columns: 70px 70px 1fr 140px;
            grid-template-rows: 1fr 24svh 24svh;
            grid-template-areas:
                ". . . ."
                "l r . u"
                "l r . d";
            pointer-events: none;
            z-index: 5;
            width: 100vw;
            height: 100svh;
            margin: 0;
            max-width: none;
            aspect-ratio: auto;
        }
        .controlBtns > * {
            pointer-events: auto;
        }
        .guides {
            display: block;
        }
        .editorScreen {
            grid-template-columns: 140px 1fr 140px;
            grid-template-rows: 60px 1fr;
            grid-template-areas:
                "header header header"
                "objs   main   tools";
        }
        .testScreen {
            grid-template-columns: 140px 1fr 70px 70px;
            grid-template-rows: 60px 1fr 1fr;
            grid-template-areas:
                "header header header header"
                "....   main   guide  guide"
                "....   main   ....   ....";
        }
        .objs {
            flex-direction: column;
            border-left: #777 solid 8px;
            border-right: #777 solid 8px;
            border-top: none;
            border-bottom: none;
            width: 140px;
            height: calc(100svh - 60px);
            overflow-y: scroll;
            overflow-x: initial;
            touch-action: pan-y;
        }
        .tools {
            flex-direction: column;
            border-left: #bbb solid 8px;
            border-right: #bbb solid 8px;
            border-top: none;
            border-bottom: none;
            width: 140px;
            height: calc(100svh - 60px);
            overflow-y: scroll;
            overflow-x: initial;
            touch-action: pan-y;
        }
    }
}
