@import "tailwindcss";

@font-face {
    font-family: "Makinas";
    src: url("../fonts/Makinas-4-Square.woff2");
}

@layer components {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        color: #fff;
        touch-action: none;
    }
    img {
        pointer-events: none;
        image-rendering: pixelated;
    }
    .btn,
    .miniBtn,
    img {
        -webkit-touch-callout: none;
    }
    .stageWrapper,
    .stage,
    .hintText {
        touch-action: pan-y;
    }
    html,
    body {
        font-family: "Makinas", sans-serif;
    }
    body {
        position: relative;
    }
    .backGround {
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100dvw;
        height: 100dvh;
        background: radial-gradient(#aaa, #555);
    }
    .loadingTxt {
        line-height: 100dvh;
        color: #f00;
    }
    .stageSelectScreen {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 12dvmin 18dvmin 1fr;
        grid-template-areas:
            "back ...."
            "txt txt"
            "stage stage";
    }
    .back {
        width: 18dvmin;
        height: 12dvmin;
        grid-area: back;
    }
    .selectStageText {
        grid-area: txt;
    }
    .stageWrapperContainer {
        padding: 50px 0;
        grid-area: stage;
        overflow: scroll;
        background-color: #333;
        text-align: center;
    }
    .stageWrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .btn {
        background: linear-gradient(#ddd, #999);
        border: #333 solid 5px;
        border-top: #777 solid 5px;
        border-left: #777 solid 5px;
        background-position: center;
        position: relative;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .arrow.pressed,
    .btn:not(.arrow):not(.completedBtn, .dangerBtn):active {
        background: linear-gradient(#555, #999);
        border: #777 solid 5px;
        border-top: #333 solid 5px;
        border-left: #333 solid 5px;
    }
    .btn svg {
        width: 70%;
        height: 70%;
        object-fit: contain;
    }
    .btn div {
        position: absolute;
        color: #4b4b4b;
        font-size: 70%;
        top: 10%;
        left: 25%;
        right: 25%;
        overflow: visible;
    }
    .completedBtn {
        background: linear-gradient(#0d0, #090);
        border: #030 solid 5px;
        border-top: #070 solid 5px;
        border-left: #070 solid 5px;
    }
    .completedBtn:active {
        background: linear-gradient(#050, #090);
        border: #070 solid 5px;
        border-top: #030 solid 5px;
        border-left: #030 solid 5px;
    }
    .completedBtn div {
        color: #fff;
    }
    .dangerBtn {
        background: linear-gradient(#d00, #900);
        border: #300 solid 5px;
        border-top: #700 solid 5px;
        border-left: #700 solid 5px;
    }
    .dangerBtn:active {
        background: linear-gradient(#500, #900);
        border: #700 solid 5px;
        border-top: #300 solid 5px;
        border-left: #300 solid 5px;
    }
    .miniBtn {
        background-color: #aaa;
        color: #333;
        border: #333 solid 2px;
        cursor: pointer;
        text-align: center;
    }
    .loginBtn {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 30px;
    }
    .stage {
        width: 20dvmin;
        height: 14dvmin;
        line-height: 11dvmin;
        font-size: 11dvmin;
        margin: 1%;
    }
    .stageNum {
        grid-area: num;
        text-align: center;
        margin: auto;
        font-size: 8dvmin;
        overflow: hidden;
    }
    .gameScreen {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 60px calc(100dvh - 280px) 40px 180px;
        grid-template-areas:
            "num menu restart"
            "main main main"
            "guide guide guide"
            "btn btn btn";
    }
    .editorScreen {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60px calc(100dvh - 280px) 110px 110px;
        grid-template-areas:
            "header"
            "main"
            "objs"
            "tools";
    }
    .objs {
        display: flex;
        grid-area: objs;
        background-color: #999;
        border-top: #777 solid 8px;
        border-bottom: #777 solid 8px;
        height: 110px;
        align-items: center;
        overflow-x: scroll;
        touch-action: pan-x;
        font-size: 5dvmin;
    }
    .tools {
        display: flex;
        grid-area: tools;
        background-color: #ddd;
        border-top: #bbb solid 8px;
        border-bottom: #bbb solid 8px;
        height: 110px;
        align-items: center;
        overflow-x: scroll;
        touch-action: pan-x;
    }
    .objImg,
    .toolImg {
        touch-action: pan-x;
        margin: 5px;
        width: 55px;
        height: 55px;
        pointer-events: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .objImg.selected {
        border: #0f0 solid 2px;
    }
    .toolImg.selected {
        border: #00f solid 2px;
    }
    input[type="checkbox"] {
        width: 20px;
        height: 20px;
        margin: 10px;
    }
    .guides {
        grid-area: guide;
        font-size: 20px;
        text-align: left;
        display: flex;
    }
    .guide {
        height: 35px;
        margin: 0 10px;
        padding: 0 5px;
    }
    #main {
        width: 100dvmin;
        height: 100dvmin;
        max-width: calc(100dvmax - 280px);
        max-height: calc(100dvmax - 280px);
        margin: auto;
        grid-area: main;
    }
    .loadingStage {
        grid-area: main;
    }
    .restart {
        grid-area: restart;
        width: 33dvw;
        max-width: 90px;
        aspect-ratio: 1.5;
        margin: auto;
    }
    .menu {
        grid-area: menu;
        width: 33dvw;
        max-width: 90px;
        aspect-ratio: 1.5;
        margin: auto;
    }
    .controlBtns {
        grid-area: btn;
        margin: 0 auto;
        width: 100dvw;
        max-width: 270px;
        aspect-ratio: 1.5;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            ". u ."
            "l . r"
            ". d .";
    }
    .arrow {
        aspect-ratio: 1.5;
    }
    .u {
        grid-area: u;
    }
    .l {
        grid-area: l;
    }
    .d {
        grid-area: d;
    }
    .r {
        grid-area: r;
    }
    .popup {
        z-index: 10;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr;
        grid-template-areas:
            "title"
            "detail";
        background: rgba(48, 48, 48, 0.8);
        border: 20px double #eee;
        position: absolute;
        inset: 10%;
        text-align: center;
    }
    .popupTitle {
        font-size: 10dvmin;
        z-index: 11;
        margin: 10dvmin;
        grid-area: title;
    }
    .hintText {
        z-index: 11;
        grid-area: detail;
        width: 100%;
        font-size: 6dvmin;
        white-space: pre-line;
        overflow: scroll;
    }
    .next {
        z-index: 11;
        grid-area: detail;
        width: 30dvmin;
        height: 20dvmin;
        margin: auto;
    }
    .editor-layout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 12dvmin 18dvmin 15dvmin 1fr;
        grid-template-areas:
            "header header"
            "title title"
            "new-link new-link"
            "list list";
    }
    .unselected-tab {
        background-color: #333;
        color: white;
        border: white solid 2px;
        border-bottom: none;
    }

    @media screen and (min-aspect-ratio: 1/1) {
        .gameScreen {
            grid-template-columns: 140px calc(100dvw - 280px) 70px 70px;
            grid-template-rows: 22dvh 30dvh 48dvh;
            grid-template-areas:
                "num  main menu restart"
                ".... main guide guide"
                "btn  main .... ....";
        }
        .menu,
        .restart,
        .arrow {
            height: 22dvh;
            max-height: 105px;
            width: initial;
            aspect-ratio: 0.66;
            margin: auto;
        }
        .controlBtns {
            display: grid;
            grid-template-columns: 70px 70px calc(100dvw - 280px) 140px;
            grid-template-rows: 24dvh 24dvh;
            grid-template-areas:
                "l r . u"
                "l r . d";
        }
        .guides {
            display: block;
        }
        .editorScreen {
            display: grid;
            grid-template-columns: 140px calc(100dvw - 280px) 140px;
            grid-template-rows: 60px calc(100dvh - 60px);
            grid-template-areas:
                "header header header"
                "objs main tools";
        }
        .objs {
            flex-direction: column;
            border-left: #777 solid 8px;
            border-right: #777 solid 8px;
            border-top: none;
            border-bottom: none;
            width: 140px;
            height: calc(100dvh - 60px);
            overflow-y: scroll;
            overflow-x: initial;
            touch-action: pan-y;
        }
        .tools {
            flex-direction: column;
            border-left: #bbb solid 8px;
            border-right: #bbb solid 8px;
            border-top: none;
            border-bottom: none;
            width: 140px;
            height: calc(100dvh - 60px);
            overflow-y: scroll;
            overflow-x: initial;
            touch-action: pan-y;
        }
        #main {
            width: calc(100dvh - 60px);
            height: calc(100dvh - 60px);
        }
    }
}
